

#container{
    display: flex;
    flex-direction: column;
    flex:1 0 auto;
  width: min(90vw, 90vh); 
  height: min(90vw, 90vh);
    z-index: -3;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: grey;
}
.column{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.row{
    background-color: rgb(253, 201, 227);
    flex:1;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0.5px;
    transition: background-color 1s linear;
}
.row:hover{
    background-color: var(--hoverColor,black);
    transition-duration: 0s;
}
button {
  align-items: center;
  background-color: #f3f1f1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-height: 2rem;
  padding: calc(.875rem - 4px) calc(1.5rem - 4px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
body{  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 600;
  
  display: flex;flex-direction: row;align-items: center;
  flex-wrap: wrap;

}
.d1 {
  margin-right: 10px;
  display: block;
    text-align: center; 
}
